<footer>
    <div class="footerinner">
        <div class="footerlinespacetop">
            <div class="backtotop">
                <p onclick="backToTop()">Back to Top</p>
            </div>

            <div class="footerline"></div>
        </div>

        <div class="footerfont">
            <div class="footercol">
                <p><strong>OUR WORK</strong></p>

                <ul class="footerlist">
                    <li>
                        <a href="https://protogencollection.aerofur.nz/whatwedo">What We Do</a>
                    </li>
                    <li>
                        <a href="https://github.com/OpenSourceProtogenCollection">Our Projects</a>
                    </li>
                    <li>
                        <a href="https://protogencollection.aerofur.nz/contributors">Our Team and Contributors</a>
                    </li>
                    <li>
                        <a href="https://protogencollection.aerofur.nz/contribute">Contribute</a>
                    </li>
                    <li>
                        <a href="https://protogencollection.aerofur.nz/contact">Get in Touch</a>
                    </li>
                </ul>
            </div>

            <div class="footercol">
                <p><strong>RESOURCES</strong></p>

                <ul class="footerlist">
                    <li>
                        <a href="https://github.com/OpenSourceProtogenCollection">Github</a>
                    </li>
                    <li>
                        <a href="https://protogencollection.aerofur.nz/blog">Blog</a>
                    </li>
                    <li>
                        <a href="https://protogencollection.aerofur.nz/legal/terms-and-conditions">Terms and Conditions</a>
                    </li>
                </ul>
            </div>

            <div class="footersocial">
                <button class="themeswitchbutton" aria-label="Enable/Disable Darkmode" data-microtip-position="top" role="tooltip">
                    <i id="themeswitch" class="fas fa-adjust"></i>
                </button>
            </div>

            <div class="footerlinespace">
                <div class="footerline"></div>
            </div>

            <div class="copyright-left">
                <p>OPSC is built and maintained by our team of <a href="https://protogencollection.aerofur.nz/contributors">Volunteers and Contributors.</a></p>
            </div>

            <div class="copyright">
                <p>Copyright © 2020 Open Source Protogen Collection</p>
                <div class="copyrightinfo">
                    <a href="">[INFO]</a>
                </div>
            </div>

            <div class="footernotes">
                <div class="clearfix">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</footer>
