<div class="nav">
    <div class="navcontainer">
        <a href="https://protogencollection.aerofur.nz">
            <div class="navlogo"></div>
        </a>

        <div class="navquicklinks">
            <a href="https://protogencollection.aerofur.nz/blog">Blog</a>
            <a href="https://github.com/OpenSourceProtogenCollection">Our Projects</a>
            <a href="https://protogencollection.aerofur.nz/contribute">Contribute</a>
            <a href="https://protogencollection.aerofur.nz/contact">Get in Touch</a>
        </div>

        <div class="navmobilebutton">
            <i onclick="mobilenav()" class="fas fa-bars"></i>
        </div>
    </div>

    <div id="navmobilemenu" class="navmobile">
        <div class="navcol">
            <ul class="navlist">
                <li>
                    <a>What We Do</a>
                </li>
                <li>
                    <a href="https://protogencollection.aerofur.nz/blog">Blog</a>
                </li>
                <li>
                    <a href="https://github.com/OpenSourceProtogenCollection">Our Projects</a>
                </li>
                <li>
                    <a href="https://protogencollection.aerofur.nz/contributors">Our Team and Contributors</a>
                </li>
                <li>
                    <a href="https://github.com/OpenSourceProtogenCollection">Github</a>
                </li>
                <li>
                    <a href="https://protogencollection.aerofur.nz/contact">Get in Touch</a>
                </li>
            </ul>
        </div>
    </div>
</div>