    <div class="nav" id="top">
        <div class="navcontainer">
            <a href="https://protogencollection.titusstudios.net">
                <div class="navlogo"></div>
            </a>
            <div class="navline"></div>
            <div class="navtext">
                <a class="nolink" href="https://protogencollection.titusstudios.net">
                    <div class="navtextheader">
                        <p><strong>Open Source Protogen Collection</strong></p>
                    </div>
                </a>
            </div>
            <div class="navquicklinks">
                <a href="https://protogencollection.titusstudios.net/blog">Blog</a>
                <a href="https://github.com/OpenSourceProtogenCollection">Our Projects</a>
                <a>Contribute</a>
                <a href="https://protogencollection.titusstudios.net/contact">Get in Touch</a>
            </div>
        </div>
    </div>
