/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import "rouge-base16-dark";
@import "default_colors";

$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $conifer !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;

:root {
    --bodybkg: #fff;
    --footerbkg: #26272b;
    --footer-text: #bbb;
    --nav-text: #bbb;
    --nav-bkg: #26272b;
    --nav-line: #bbb;
    --text: #24292e;
    --code-bkg: rgba(27, 31, 35, 0.05);
    --hover-bkg: rgba(0, 0, 0, 0.5);
    --image-invert: none;
    --link-bkg: rgba(200, 200, 200, 0.5);
    --backquote-text: #696969;
    --backquote-bkg: rgba(27, 31, 35, 0.05);
    --backquote-bkg-indigo: rgba(94, 92, 230, 0.2);
    --backquote-bkg-orange: rgba(255, 159, 10, 0.2);
    --backquote-bkg-red: rgba(255, 69, 58, 0.2);
    --backquote-bkg-green: rgba(50, 215, 75, 0.2);
    --tag-text: #0366d6;
    --tag-bkg: #f1f8ff;
    --tag-bkg-hover: #def;
}

.darkmode {
    --bodybkg: #292b2f;
    --footerbkg: #26272b;
    --footer-text: #bbb;
    --nav-text: #bbb;
    --nav-bkg: #26272b;
    --nav-line: #bbb;
    --text: #fff;
    --code-bkg: rgba(27, 31, 35, 0.5);
    --image-invert: invert(100%);
    --contrib-bkg: rgba(27, 31, 35, 0.5);
    --hover-bkg: rgba(0, 0, 0, 0.2);
    --link-bkg: rgba(0, 0, 0, 0.5);
    --backquote-text: #989898;
    --backquote-bkg: rgba(27, 31, 35, 0.5);
    --backquote-bkg-indigo: rgba(94, 92, 230, 0.2);
    --backquote-bkg-orange: rgba(255, 159, 10, 0.2);
    --backquote-bkg-red: rgba(255, 69, 58, 0.2);
    --backquote-bkg-green: rgba(50, 215, 75, 0.2);
    --tag-text: #0366d6;
    --tag-bkg: #f1f8ff;
    --tag-bkg-hover: #def;
}

body {
    padding-bottom: 600px;
    position: relative;
    word-break: break-word;
    background-color: var(--bodybkg);
    margin: 0;
}

a {
    color: #1395e0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.clearfix {
    overflow: auto;
}

.container {
    margin: 0 35px;
}

.footerinner p,
.navtext p {
    margin: 0;
}

.contributor-div {
    background-color: var(--contrib-bkg);
    text-align: center;
    width: 50%;
    position: relative;
    margin: .5em;
    padding: .5em;
}

.contributor-avatar {
    -o-object-fit: contain;
       object-fit: contain;
    width: 50%;
}

.contributor-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.copyright {
    text-align: end;
}

.copyright p {
    opacity: 0.5;
    margin-top: 12px;
    pointer-events: none;
}

.copyright-left {
    text-align: left;
    float: left;
    margin-right: 10px;
    max-width: 300px;
}

.copyright-left p {
    opacity: 0.5;
    margin-top: 12px;
}

.copyright-left p a {
    color: var(--footer-text);
}

.copyrightinfo a {
    font-size: 9px;
    color: #3bb2c7;
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 600px;
    background-color: var(--footerbkg);
}

.footerinner {
    z-index: 1;
    padding: 20px;
}

.footerlinespace {
    max-width: 1000px;
    margin: auto;
    padding: 90px 0 0;
}

.footerlinespacetop {
    max-width: 1000px;
    padding-top: 15px;
    margin: auto;
}

.footerline {
    border-bottom: solid 1px var(--footer-text);
    opacity: 0.5;
}

.footerfont {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: .75px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    color: var(--footer-text);
    max-width: 1000px;
    z-index: 10;
    margin: auto;
    padding: 15px 0 0;
}

.footerfontsub {
    font-family: Helvetica;
    font-size: 13px;
    line-height: 1.3;
    letter-spacing: .75px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    color: var(--footer-text);
    opacity: 0.5;
    max-width: 1000px;
    text-align: end;
    margin: auto;
    padding: 0 0 15px;
}

.footersubtext {
    display: block;
    -webkit-margin-before: 1em;
            margin-block-start: 1em;
    -webkit-margin-after: 1em;
            margin-block-end: 1em;
    -webkit-margin-start: 0;
            margin-inline-start: 0;
    -webkit-margin-end: 0;
            margin-inline-end: 0;
}

.footersocial {
    max-width: 1000px;
    text-align: end;
    float: right;
    margin: 25px;
}

.fa-twitter {
    color: var(--footer-text);
    font-size: 22px;
    opacity: 0.5;
    padding: 0 4px 0 0;
}

.fa-github {
    color: var(--footer-text);
    font-size: 22px;
    opacity: 0.5;
}

.fa-adjust {
    color: var(--footer-text);
    font-size: 22px;
    opacity: 0.5;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    cursor: pointer;
    padding: 0 5px;
}

.footerlist {
    list-style: none;
    margin: 12px 0 0;
    padding: 0;
}

.footercol {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -ms-inline-grid;
    display: inline-grid;
    margin-right: 50px;
    margin-top: 25px;
}

.footerlist li {
    margin-top: 5px;
}

.footernotes {
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--footer-text);
    opacity: 0.5;
    font-size: 11px;
    float: right;
}

.hide {
    display: none;
}

#main_content {
    max-width: 1000px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    margin: 0 auto 16px !important;
    padding: 20px 0 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica;
    line-height: 1.3;
    letter-spacing: -.75px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
}

h1 {
    font-size: 36px;
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
}

h2 {
    font-size: 26px;
}


h3 {
    display: none;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 19px;
}

h6 {
    font-size: 15px;
}

img {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.15), 0 0 8px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.15), 0 0 8px rgba(0, 0, 0, 0.15);
}

.highlighter-rouge .highlight {
    background-color: #222436;
    border-radius: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    padding: 15px;
}

div.highlighter-rouge {
    margin: 10px 0;
}

code {
    font-size: 13px;
    border-radius: 3px;
    margin: 0;
    padding: .2em .4em;
}

pre code {
    padding: 0;
}

code.language-plaintext {
    font-size: 13px;
    background-color: var(--code-bkg);
    border-radius: 3px;
    margin: 0;
    padding: .2em .4em;
}

blockquote {
    color: var(--backquote-text);
    background-color: var(--backquote-bkg);
    border-radius: 3px;
    margin: 5px 0;
    padding: 1px 22px;
}

table {
    display: block;
    width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 16px;
}

table td {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

table th {
    border: 1px solid #dfe2e5;
    font-weight: 600;
    padding: 6px 13px;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.err404 {
    text-align: center;
    font-size: 100px;
}

.icon-link {
    max-width: 2em;
    -webkit-filter: var(--image-invert);
            filter: var(--image-invert);
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    margin: .5em;
}

.icon-link:hover {
    background-color: var(--hover-bkg);
    border-radius: 100%;
}

iframe {
    width: -webkit-fill-available;
    margin: auto;
}

.index-header {
    font-size: 4em;
    font-family: Helvetica, sans-serif;
}

.index-subheader {
    font-size: 2em;
    font-size: Helvetica, sans-serif;
}

.index-nav {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-weight: 700;
}

.index-nav a {
    opacity: 0;
    color: var(--text);
    background-color: var(--link-bkg);
    border-radius: 3px;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    margin: .5em;
    padding: .5em;
}

.index-nav a:hover {
    background-color: var(--hover-bkg);
}

.index-nav-blog {
    -webkit-animation: fadein-welcome 1s 2500ms forwards;
            animation: fadein-welcome 1s 2500ms forwards;
}

.index-nav-projects {
    -webkit-animation: fadein-welcome 1s 2750ms forwards;
            animation: fadein-welcome 1s 2750ms forwards;
}

.index-nav-contribute {
    -webkit-animation: fadein-welcome 1s 3000ms forwards;
            animation: fadein-welcome 1s 3000ms forwards;
}

.index-nav-contact {
    -webkit-animation: fadein-welcome 1s 3250ms forwards;
            animation: fadein-welcome 1s 3250ms forwards;
}

.index-spacer {
    padding-top: 5em;
}

.nav {
    font-family: Helvetica;
    font-size: 13px;
    line-height: 1.3;
    letter-spacing: .75px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    color: var(--nav-text);
    background-color: var(--nav-bkg);
}

.navcontainer {
    max-width: 1000px;
    padding-left: 5px;
    padding-right: 20px;
    margin: auto;
}

.navcontainer a:hover {
    text-decoration: none;
}

.navlogo {
    width: 50px;
    height: 50px;
    background-image: url("https://protogencollection.titusstudios.net/data/static/images/og-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0.5;
}

.navlogo:hover {
    opacity: 1;
}

.navline {
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: var(--nav-line);
    margin-bottom: 14px;
    margin-right: 8px;
    margin-left: 8px;
}

.navtext p {
    margin: 0;
}

.navtext {
    display: inline-block;
    vertical-align: top;
}

.navtextheader {
    font-size: 20px;
    letter-spacing: -.4px;
    margin-top: 19px;
    display: inline-block;
}

.navquicklinks {
    float: right;
    margin-top: 22px;
}

.navquicklinks a {
    opacity: 0.5;
    color: var(--nav-text);
    cursor: pointer;
    padding-left: 10px;
}

.nolink {
    text-decoration: none;
    color: #FFF;
}

.toplink {
    text-align: center;
}

.toplink a {
    color: #FFF;
    scroll-behavior: smooth;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    padding: 10px 5px;
}

.toplink a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.themeswitchbutton {
    background-color: rgba(0,0,0,0);
    outline: none;
    border: none;
}

.welcometext {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.welcome-header {
    opacity: 0;
    position: relative;
    -webkit-animation: fadein-welcome 1s 500ms forwards;
            animation: fadein-welcome 1s 500ms forwards;
    font-size: 4em;
}

.welcome-subheader {
    position: relative;
    opacity: 0;
    font-size: 2em;
    -webkit-animation: fadein-welcome 1s 1500ms forwards;
            animation: fadein-welcome 1s 1500ms forwards;
}

.backtotop {
    font-family: Helvetica;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: .75px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    color: var(--footer-text);
    max-width: 1000px;
    text-align: center;
    cursor: pointer;
    margin: auto auto 56px;
}

.backtotop p {
    opacity: 0.5;
}

img.emoji {
    width: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.navmobile {
    font-family: Helvetica;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: .75px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    color: var(--footer-text);
    z-index: 999;
    text-align: center;
    position: relative;
    display: none;
    margin: auto;
}

.navlist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navcol {
    background-color: var(--nav-bkg);
    padding: 10px;
}

.navlist li {
    background-color: var(--nav-bkg);
    border-top: solid 1px #6b6b6d66;
    padding: 10px;
}

.fa-bars {
    color: #bbb;
    cursor: pointer;
}

.navmobilebutton {
    float: right;
    font-size: 26px;
    margin-top: 16px;
    display: none;
}

.icon-link-div {
    padding-top: 10px;
}

.clearfix,
.highlighter-rouge {
    overflow: auto;
}

.hide,
h3 {
    display: none;
}

.fa-telegram-plane,
.fa-steam,
.fa-youtube {
    color: var(--footer-text);
    font-size: 22px;
    opacity: 0.5;
    padding: 0 5px 0 0;
}

.fa-telegram-plane:hover,
.fa-twitter:hover,
.fa-github:hover,
.fa-steam:hover,
.fa-youtube:hover,
.fa-adjust:hover,
.footerlist li a:hover,
.navquicklinks a:hover,
.backtotop p:hover,
.navlist li a:hover {
    opacity: 1;
}

.footerlist li a,
.navlist li a {
    opacity: 0.5;
    cursor: pointer;
    color: var(--footer-text);
}

.footerlist li a:hover {
    text-decoration: none;
}

.footerfont a,
.navmobile a {
    text-decoration: none;
}

.footerfont a:hover {
    text-decoration: underline;
}

@-webkit-keyframes fadein-welcome {
    from {
        opacity: 0;
        top: -20px
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

@keyframes fadein-welcome {
    from {
        opacity: 0;
        top: -20px
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

@media screen and (max-width: 650px) {
    .copyright-left {
        display: none;
    }
}

@media screen and (max-width: 435px) {
    .navquicklinks {
        display: none;
    }

    .navmobilebutton {
        display: block;
    }
}

@media screen and (max-width: 460px) {
    .navtext {
        display: none;
    }
}

.blogcategory p, .blogtitle p, .blogdesc p, .blogtag a, .blogpost-title p, .homepage-slideshow p {
    margin: 0;
}

.blogcontent {
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

.blogpostcontent {
    max-width: 1000px;
    margin: auto;
    padding: 15px 15px 0 15px;
}

.blogcategory {
    font-family: Inter,sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.5;
    color: #1074e7;
    margin-top: 15px;
}

.blogtitle {
    font-family: Inter,sans-serif;
    font-weight: 600;
    font-size: 64px;
    color: var(--text);
    margin-bottom: 10px;
}

.blogdesc {
    font-family: Inter,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.25px;
    color: var(--text);
}

.blogline {
    border-bottom: #e1e4e8 solid 1px;
    max-width: 200px;
    margin-top: 15px;
}

.blogtags {
    margin-top: 15px;
}

.blogtag {
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-weight: 500;
    font-size: 12px;
    color: var(--tag-text);
    background-color: var(--tag-bkg);
    padding: 3px 15px;
    line-height: 22px;
    border-radius: 2em;
    margin: 0 .125em .333em 0;
}

.blogtag:hover {
    background-color: var(--tag-bkg-hover);
}

.blogtag a:hover {
    text-decoration: none;
}

.blogpost-date {
    display: inline-block;
}

.blogpost {
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px;    
}

.blogpost a:hover, .blogpost p:hover {
    text-decoration: none;
}

.blogpost-date p {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
    color: #c1c7ce;
    margin: 0;
}

.blogpost-line {
    display: inline-block;
    border-bottom: #c1c7ce solid 1px;
    width: 50px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-left: 15px;
    margin-right: 15px;
}

.blogpost-title {
    font-family: Inter,sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin-top: 10px;
}

.blogpost-desc {
    font-family: Inter,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.25px;
    color: var(--text);    
}

.blogpost-desc p {
    margin-top: 15px;
    margin-bottom: 20px;
}

.blogpostcontent button {
    font-family: Inter,sans-serif;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background-color: #1074e7;
    border: 1px solid #1074e7;
    border-radius: 6px;
    transition: .2s;
}

.blogpostcontent button a {
    color: #fff;
    transition: .2s;
    position: relative;
    left: -8px;
}

.blogpostcontent button:hover > a {
    text-decoration: underline;
    left: 8px;
}

.blogpostcontent button i {
    opacity: 0;
    transition: .2s;
    position: relative;
    left: 18px;
    padding-top: 2px;
}

.blogpostcontent button:hover > i {
    opacity: 1;
    left: 0px;
}

.blogtags-wrapper {
    margin-top: 10px;
}

.blogtags-desc-wrapper {
    margin-top: 40px;
}

#slideshow {
    margin: auto;
    position: relative;
    width: 100%;
    height: 550px;
}

#slideshow > div { 
    position: absolute; 
}

.homepage-slideshow {
    font-family: Inter,sans-serif;
    position: absolute; 
    padding: 30px;
}

.homepage-slideshow-header {
    font-weight: 600;
    font-size: 32px;
    color: var(--text); 
    margin-bottom: 12px;
}  

.homepage-slideshow-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.25px;
    color: var(--text);  
    max-width: 450px;
}  

button {
    font-family: Inter,sans-serif;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background-color: #1074e7;
    border: 1px solid #1074e7;
    border-radius: 6px;
    transition: .2s;
    margin-top: 5px;
    margin-right: 5px;
}