@import "rouge-base16-dark";
@import "default_colors";
/*@import url('https://fonts.googleapis.com/css?family=Poppins')*/

$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $conifer !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;

:root {
    --bodybkg: #fff;
    --footerbkg: #26272b;
    --footer-text: #bbb;
    --nav-text: #bbb;
    --nav-bkg: #26272b;
    --nav-line: #bbb;
    --text: #24292e;
    --code-bkg: rgba(27, 31, 35, 0.05);
    --hover-bkg: rgba(0, 0, 0, 0.5);
    --image-invert: none;
    --link-bkg: rgba(200, 200, 200, 0.5);

    --backquote-text: #696969;
    --backquote-bkg: rgba(27, 31, 35, 0.05);
    --backquote-bkg-indigo: rgba(94, 92, 230, 0.2);
    --backquote-bkg-orange: rgba(255, 159, 10, 0.2);
    --backquote-bkg-red: rgba(255, 69, 58, 0.2);
    --backquote-bkg-green: rgba(50, 215, 75, 0.2);
}

.darkmode {
    --bodybkg: #292b2f;
    --footerbkg: #26272b;
    --footer-text: #bbb;
    --nav-text: #bbb;
    --nav-bkg: #26272b;
    --nav-line: #bbb;
    --text: #fff;
    --code-bkg: rgba(27, 31, 35, 0.5);
    --image-invert: invert(100%);
    --contrib-bkg: rgba(27, 31, 35, 0.5);
    --hover-bkg: rgba(0, 0, 0, 0.2);
    --link-bkg: rgba(0, 0, 0, 0.5);

    --backquote-text: #989898;
    --backquote-bkg: rgba(27, 31, 35, 0.5);
    --backquote-bkg-indigo: rgba(94, 92, 230, 0.2);
    --backquote-bkg-orange: rgba(255, 159, 10, 0.2);
    --backquote-bkg-red: rgba(255, 69, 58, 0.2);
    --backquote-bkg-green: rgba(50, 215, 75, 0.2);
}

body {
    margin: 0;
    padding-bottom: 600px;
    position: relative;
    word-break: break-word;
    background-color: var(--bodybkg);
    /*transition: all 300ms;*/
}

a {
    color: #1395e0;
    text-decoration: none;
}

.clearfix {
    overflow: auto;
}

.contributor-div {
    padding: 0.5em;
    background-color: var(--contrib-bkg);
    margin: 0.5em;
    text-align: center;
    width: 50%;
    position: relative;
}

.contributor-avatar {
    object-fit: contain;
    width: 50%;
}

.contributor-wrapper {
    display: flex;
}

.hide {
    display: none;
}

.footerinner p {
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 600px;
    background-color: var(--footerbkg);
}

.footerinner {
    padding: 20px;
    z-index: 1;
}

.footerlinespace {
    max-width: 1000px;
    margin: auto;
    padding: 90px 0 0 0;
}

.footerlinespacetop {
    max-width: 1000px;
    margin: auto;
    padding-top: 15px;
}

.footerline {
    border-bottom: solid 1px var(--footer-text);
    opacity: 0.5;
}

.footerfont {
    font-family: Helvetica;
    /*font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: .75px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    color: var(--footer-text);
    max-width: 1000px;
    margin: auto;
    padding: 15px 0 0 0;
    z-index: 10;
}

.footerfontsub {
    font-family: Helvetica;
    /*font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 13px;
    line-height: 1.3;
    letter-spacing: .75px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    color: var(--footer-text);
    opacity: 0.5;
    max-width: 1000px;
    margin: auto;
    padding: 0 0 15px 0;
    text-align: end;
}

.footersubtext {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footersocial {
    max-width: 1000px;
    text-align: end;
    margin: auto;
    float: right;
    margin-top: 25px;
}

.fa-telegram-plane {
    padding: 0 5px 0 0;
    color: var(--footer-text);
    font-size: 22px;
    opacity: 0.5;
}

.fa-telegram-plane:hover {
    opacity: 1;
}

.fa-twitter {
    padding: 0 4px 0 0;
    color: var(--footer-text);
    font-size: 22px;
    opacity: 0.5;
}

.fa-twitter:hover {
    opacity: 1;
}

.fa-github {
    color: var(--footer-text);
    font-size: 22px;
    opacity: 0.5;
}

.fa-github:hover {
    opacity: 1;
}

.fa-steam {
    padding: 0 5px 0 0;
    color: var(--footer-text);
    font-size: 22px;
    opacity: 0.5;
}

.fa-steam:hover {
    opacity: 1;
}

.fa-youtube {
    padding: 0 5px 0 0;
    color: var(--footer-text);
    font-size: 22px;
    opacity: 0.5;
}

.fa-youtube:hover {
    opacity: 1;
}


.fa-adjust {
    padding: 0 5px 0 5px;
    color: var(--footer-text);
    font-size: 22px;
    opacity: 0.5;
    transition: all 300ms;
    cursor: pointer;
}

.fa-adjust:hover {
    opacity: 1;
}

.footerlist {
    list-style: none;
    margin: 0;
    margin-top: 12px;
    padding: 0;
    /*letter-spacing: 1.4px;*/
}

.footercol {
    width: fit-content;
    display: inline-grid;
    margin-right: 50px;
    margin-top: 25px;
}

.footerlist li {
    margin-top: 5px;
}

.footerlist li a {
    opacity: 0.5;
    cursor: pointer;
    color: var(--footer-text);
}

.footerlist li a:hover {
    opacity: 1;
}

.footerfont a {
    text-decoration: none;
}

.copyright {
    text-align: end;
}

.copyright p {
    opacity: 0.5;
    margin-top: 12px;
    pointer-events: none;
}

.copyright-left {
    text-align: left;
    float: left;
    margin-right: 10px;
}

@media screen and (max-width: 650px) {
    .copyright-left {
        display: none;
    }
}

.copyright-left p {
    opacity: 0.5;
    margin-top: 12px;
}

.copyright-left p a {
    color: var(--footer-text);
}

.copyrightinfo a {
    font-size: 9px;
    color: #3bb2c7;
    display: none;
}

.footernotes {
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--footer-text);
    opacity: 0.5;
    font-size: 11px;
    float: right;
}

.container {
    margin: 0 35px 0 35px;
}

#main_content {
    max-width: 1000px;
    margin: auto;
    padding: 20px 0 50px 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    margin-top: 0 !important;
    margin-bottom: 16px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica;
    /*font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    line-height: 1.3;
    letter-spacing: -0.75px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
}

h1 {
    font-size: 36px;
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
}

h2 {
    font-size: 26px;
}

h3 {
    display: none;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 19px;
}

h6 {
    font-size: 15px;
}

img {
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.15), 0 0 8px rgba(0, 0, 0, 0.15);
}

.highlighter-rouge .highlight {
    background-color: #222436;
    border-radius: 10px;
    padding: 15px;
    width: fit-content;
    margin: 0;
}

div.highlighter-rouge {
    margin: 10px 0 10px;
}

code {
    padding: .2em .4em;
    margin: 0;
    font-size: 13px;
    border-radius: 3px;
}

pre code {
    padding: 0;
}

code.language-plaintext {
    padding: .2em .4em;
    margin: 0;
    font-size: 13px;
    background-color: var(--code-bkg);
    border-radius: 3px;
}

.highlighter-rouge {
    overflow: auto;
}

blockquote {
    color: var(--backquote-text);
    padding: 1px 22px 1px 22px;
    margin: 0;
    background-color: var(--backquote-bkg);
    border-radius: 3px;
    margin: 5px 0 5px;
}

table {
    display: block;
    width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 16px;
}

table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
    font-weight: 600;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.err404 {
    text-align: center;
    font-size: 100px;
}

.icon-link {
    max-width: 2em;
    filter: var(--image-invert);
    box-shadow: none;
    margin: 0.5em;
    transition: all 300ms;
}

.icon-link:hover {
    background-color: var(--hover-bkg);
    border-radius: 100%;
}

iframe {
    margin: auto;
    width: -webkit-fill-available;
}

.index-header {
    font-size: 4em;
    font-family: "Helvetica", sans-serif;
}

.index-subheader {
    font-size: 2em;
    font-size: "Helvetica", sans-serif;
}

.index-nav {
    font-family: "Helvetica", sans-serif;
    text-align: center;
    font-weight: bold;
}

.index-nav a {
    opacity: 0;
    color: var(--text);
    background-color: var(--link-bkg);
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 3px;
    transition: all 300ms;
}

.index-nav a:hover {
    background-color: var(--hover-bkg);
}

.index-nav-blog {
    animation: fadein-welcome 1s 2500ms forwards;
}

.index-nav-projects {
    animation: fadein-welcome 1s 2750ms forwards;
}

.index-nav-contribute {
    animation: fadein-welcome 1s 3000ms forwards;
}

.index-nav-contact {
    animation: fadein-welcome 1s 3250ms forwards;
}

.index-spacer {
    padding-top: 5em;
}

.nav {
    font-family: Helvetica;
    /*font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 13px;
    line-height: 1.3;
    letter-spacing: .75px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    color: var(--nav-text);
    background-color: var(--nav-bkg);
}

.navcontainer {
    max-width: 1000px;
    margin: auto;
    padding-left: 5px;
    padding-right: 20px;
}

.navlogo {
    width: 50px;
    height: 50px;
    background-image: url("https://protogencollection.titusstudios.net/data/static/images/icon-whitecenter.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navline {
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: var(--nav-line);
    margin-bottom: 14px;
    margin-right: 8px;
    margin-left: 8px;
}

.navtext {
    display: inline-block;
    vertical-align: top;
}

.navtext p {
    margin: 0;
}

.navtextheader {
    font-size: 20px;
    letter-spacing: -0.4;
    margin-top: 19px;
    display: inline-block;
}

.navquicklinks {
    float: right;
    margin-top: 22px;
}

.navquicklinks a {
    opacity: 0.5;
    color: var(--nav-text);
    cursor: pointer;
    padding-left: 10px;
}

.navquicklinks a:hover {
    opacity: 1;
}

.nolink {
    text-decoration: none;
    color: white;
}

.toplink {
    text-align: center;
}

.toplink a {
    color: white;
    scroll-behavior: smooth;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 5px;
    border-radius: 3px;
    transition: all 300ms;
}

.toplink a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.welcometext {
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

.welcome-header {
    opacity: 0;
    position: relative;
    animation: fadein-welcome 1s 500ms forwards;
    font-size: 4em;
}

.welcome-subheader {
    position: relative;
    opacity: 0;
    font-size: 2em;
    animation: fadein-welcome 1s 1500ms forwards;
}

@keyframes fadein-welcome {
    from {
        opacity: 0;
        top: -20px
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

.tippy-box[data-theme~='translucent'] {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.backtotop {
    font-family: Helvetica;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: .75px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    color: var(--footer-text);
    max-width: 1000px;
    margin: auto;
    text-align: center;
    margin-bottom: 56px;
    cursor: pointer;
}

.backtotop p {
    opacity: 0.5;
}

.backtotop p:hover {
    opacity: 1;
}

img.emoji {
    width: auto;
    box-shadow: none;
}

.navmobile {
    font-family: Helvetica;
    /*font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: .75px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    color: var(--footer-text);
    margin: auto;
    z-index: 999;
    text-align: center;
    position: relative;
    display: none;
}

.navlist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navcol {
    padding: 10px;
    background-color: var(--nav-bkg);
}

.navlist li {
    background-color: var(--nav-bkg);
    padding: 10px 10px 10px 10px;
    border-top: solid 1px #6b6b6d66;
}

.navlist li a {
    opacity: 0.5;
    cursor: pointer;
    color: var(--footer-text);
}

.navlist li a:hover {
    opacity: 1;
}

.navmobile a {
    text-decoration: none;
}

.fa-bars {
    color: #bbb;
    cursor: pointer;
}

.navmobilebutton {
    float: right;
    font-size: 26px;
    margin-top: 16px;
    display: none;
}

@media screen and (max-width: 750px) {
    .navquicklinks {
        display: none;
    }

    .navmobilebutton {
        display: block;
    }
}

@media screen and (max-width: 460px) {
    .navtext {
        display: none;
    }
}

.icon-link-div {
    padding-top: 10px;
}