<html>
    <head>
        <base href="https://protogencollection.titusstudios.net/">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <link rel="stylesheet" href="https://protogencollection.titusstudios.net/data/static/js/microtip/microtip.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
        <script src="https://www.titusstudios.net/data/static/js/jquery/3.4.1/jquery.min.js"></script>
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% seo %}
        <link rel="image_src" href="/data/static/images/og-image.png" type="image/png" />
        <meta property="og:image" content="/data/static/images/og-image.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:alt" content="Open Source Protogen Collection Logo" />
    </head>

    <body>
        <div class="blogpostcontent">
            <button>
                <i class="fas fa-arrow-left"></i>
                <a href="https://protogencollection.titusstudios.net/blog">Back to Blog</a>
            </button>

            <div class="blogheader">
                <div class="blogcategory">
                    <p>{{ page.category }}</p>
                </div>

                <div class="blogtitle">
                    <p>{{ page.title }}</p>
                </div>
            </div>

            <div class="blogdesc">
                <p>{{ page.description }}</p>
            </div>

            <div class="blogline"></div>

            <div class="blogtags">
                <span>[
                    {% for tag in page.tags %}
                      {% capture tag_name %}{{ tag }}{% endcapture %}
                      <div class="blogtag"><p>{{ tag_name }}</p></div>
                    {% endfor %}
                  ]</span>
            </div>
        </div>

        <div class="container">
            <section id="main_content">
                {{ content }}
            </section>
        </div>

        <footer>
            <div class="footerinner">
                <div class="footerlinespacetop">
                    <div class="backtotop">
                        <p onclick="backToTop()">Back to Top</p>
                    </div>
    
                    <div class="footerline"></div>
                </div>
    
                <div class="footerfont">
                    <div class="footercol">
                        <p><strong>OUR WORK</strong></p>
    
                        <ul class="footerlist">
                            <li>
                                <a href="https://protogencollection.titusstudios.net/whatwedo">What We Do</a>
                            </li>
                            <li>
                                <a href="https://github.com/OpenSourceProtogenCollection">Our Projects</a>
                            </li>
                            <li>
                                <a href="https://protogencollection.titusstudios.net/contributors">Our Team and Contributors</a>
                            </li>
                            <li>
                                <a href="https://protogencollection.titusstudios.net/contribute>">Contribute</a>
                            </li>
                            <li>
                                <a href="https://protogencollection.titusstudios.net/contact">Get in Touch</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="footercol">
                        <p><strong>RESOURCES</strong></p>
    
                        <ul class="footerlist">
                            <li>
                                <a href="https://github.com/OpenSourceProtogenCollection">Github</a>
                            </li>
                            <li>
                                <a href="https://protogencollection.titusstudios.net/blog">Blog</a>
                            </li>
                            <li>
                                <a href="https://protogencollection.titusstudios.net/legal/terms-and-conditions">Terms and Conditions</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="footersocial">
                        <button class="themeswitchbutton" aria-label="Enable/Disable Darkmode" data-microtip-position="top" role="tooltip">
                            <i id="themeswitch" class="fas fa-adjust"></i>
                        </button>
                    </div>
    
                    <div class="footerlinespace">
                        <div class="footerline"></div>
                    </div>
    
                    <div class="copyright-left">
                        <p>Made with ❤ by <a href="https://twitter.com/TitusStudiosMG">Titus Studios</a> & Contributors</p>
                    </div>
    
                    <div class="copyright">
                        <p>Copyright © 2020 Open Source Protogen Collection</p>
                        <div class="copyrightinfo">
                            <a href="">[INFO]</a>
                        </div>
                    </div>
    
                    <div class="footernotes">
                        <div class="clearfix">
                            <p>*Logo/Icon base from <a href="https://www.deviantart.com/oniondragon">oniondragon</a> on DeviantArt</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <script src="https://protogencollection.titusstudios.net/data/static/js/darkmode.js"></script>
        <script src="https://protogencollection.titusstudios.net/data/static/js/blockquote-bkgselector.js"></script>
        <script>
            function backToTop() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
    
            function mobilenav() {
                var navmenu = document.getElementById("navmobilemenu");
    
                if (navmenu.style.display == "block") {
                    navmenu.style.display = "none";
                } else {
                    navmenu.style.display = "block";
                }
            }
    
        </script>
    </body>
</html>
