<html>
    {% include head.html %}
    <body>
        <div class="blogpostcontent">
            <button>
                <i class="fas fa-arrow-left"></i>
                <a href="https://protogencollection.aerofur.nz/blog">Back to Blog</a>
            </button>

            <div class="blogheader">
                <div class="blogcategory">
                    <p>{{ page.postcategory }}</p>
                </div>

                <div class="blogtitle">
                    <p>{{ page.title }}</p>
                </div>
            </div>

            <div class="blogdesc">
                <p>{{ page.description }}</p>
            </div>

            <div class="blogline"></div>

            <div class="blogtags">
                {% for tag in page.tags %}
                    {% capture tag_name %}{{ tag }}{% endcapture %}
                    <div class="blogtag"><a href="/tag/{{ tag_name }}">{{ tag_name }}</a></div>
                {% endfor %}
            </div>
        </div>

        <div class="container">
            <section id="main_content">
                {{ content }}
            </section>
        </div>

        {% include footer.html %}
        
        <script src="https://protogencollection.aerofur.nz/data/static/js/darkmode.js"></script>
        <script src="https://protogencollection.aerofur.nz/data/static/js/blockquote-bkgselector.js"></script>
        <script>
            function backToTop() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
    
            function mobilenav() {
                var navmenu = document.getElementById("navmobilemenu");
    
                if (navmenu.style.display == "block") {
                    navmenu.style.display = "none";
                } else {
                    navmenu.style.display = "block";
                }
            }
    
        </script>
    </body>
</html>
