<html>
    {% include head.html %}
    <body>
        {% include nav.html %}
        
        <div class="blogpostcontent">
            <div class="blogheader">
                <div class="blogtitle">
                    <p>Blog</p>
                </div>
            </div>

            <div class="blogdesc">
                <p>Our blogs</p>
            </div>

            <div class="blogline"></div>

            {% for post in paginator.posts %}
                    <div class="blogpost">
                        <a href="{{ post.url }}">
                            <div class="blogpost-date">
                                <p>{{ post.date | date_to_string }}</p>
                            </div>
                            <div class="blogpost-line"></div>
                            <div class="blogpost-title">
                                <p>{{ post.title }}</p>
                            </div>
                            <div class="blogpost-desc">
                                <p>{{ post.description }}</p>
                            </div>
                        </a>

                        <div class="blogpost-tags">
                            {% for tag in post.tags %}
                                {% capture tag_name %}{{ tag }}{% endcapture %}
                                <div class="blogtag"><a href="/tag/{{ tag_name }}">{{ tag_name }}</a></div>
                            {% endfor %}
                        </div>
                    </div>
            {% endfor %}

            <div class="blognav">
                {% if paginator.previous_page %}
                    {% if paginator.page == 2 %}
                        <button>
                            <a href="/">Previous</a>
                        </button>
                    {% else %}
                        <button>
                            <a href="/page{{paginator.next_page}}">Previous</a>
                        </button>
                    {% endif %}
                {% else %}
                    <button class="blog-button-blackout">Previous</button>
                {% endif %}      
                
                {% if paginator.next_page %}
                    <button>
                        <a href="/page{{paginator.next_page}}">Next</a>
                    </button>
                {% else %}
                    <button class="blog-button-blackout">Next</button>
                {% endif %}
            </div>

            <div class="blogtags-desc-wrapper">
                <div class="blogdesc">
                    <p>Find posts using Tags</p>
                </div>
            </div>

            <div class="blogline"></div>

            <div class="blogtags-wrapper">
                {% include archive.html %}
            </div>
        </div>

        <div class="container">
            <section id="main_content">
                {{ content }}
            </section>
        </div>

        {% include footer.html %}
    </body>
</html>
