<html>
    <head>
        <base href="https://protogencollection.titusstudios.net/">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <script src="https://www.titusstudios.net/data/static/js/jquery/3.4.1/jquery.min.js"></script>
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% seo %} 
    </head>
    <body>
        <div class="container">
            <section id="main_content">  
                {{ content }}

                <h1 id="hammer-model-browser-background-fix">Hammer Model Browser Background Fix</h1>

                <h2 id="scope">Scope</h2>
                <p>To change the background of the Hammer Editor Model Browser, which in some cases is transparent by default.</p>

                <p><strong>Before:</strong>
                <img src="https://i.imgur.com/SSbVD3J.jpg" alt="Hammer Model Browser Before Fix" /></p>

                <p><strong>After:</strong>
                <img src="https://i.imgur.com/RMvZl1I.jpg" alt="Hammer Model Browser After Fix" /></p>

                <p>First navigate to the Editors Game Directory (ex, <code class="language-plaintext highlighter-rouge">C:\SteamLibrary\steamapps\common\Source SDK Base 2013 Singleplayer\</code>)
                Once you are in the Games Directory, head to, <code class="language-plaintext highlighter-rouge">\platform\resource</code>, and search for <code class="language-plaintext highlighter-rouge">sourceschemebase.res</code> and open it with a text editor.</p>

                <p>You should see something like this in the file;</p>

                <div class="language-csharp highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">Scheme</span>
                <span class="p">{</span>
                    <span class="c1">//////////////////////// COLORS ///////////////////////////</span>
                    <span class="c1">// color details</span>
                    <span class="c1">// this is a list of all the colors used by the scheme</span>
                    <span class="n">Colors</span>
                    <span class="p">{</span>
                        <span class="c1">// base colors</span>
                        <span class="s">"White"</span>				<span class="s">"255 255 255 255"</span>
                        <span class="s">"OffWhite"</span>			<span class="s">"221 221 221 255"</span>
                        <span class="s">"DullWhite"</span>			<span class="s">"55 55 55 255"</span>
                        <span class="s">"Orange"</span>			<span class="s">"255 155 0 255"</span>
                        <span class="s">"TransparentBlack"</span>	<span class="s">"0 0 0 128"</span>
                        <span class="s">"Black"</span>				<span class="s">"0 0 0 255"</span>

                        <span class="s">"Blank"</span>				<span class="s">"0 0 0 0"</span>
                        
                        <span class="s">"SteamLightGreen"</span>	<span class="s">"157 194 80 255"</span>
                        <span class="s">"AchievementsLightGrey"</span>		<span class="s">"79 79 79 255"</span>
                        <span class="s">"AchievementsDarkGrey"</span>		<span class="s">"55 55 55 255"</span>
                        <span class="s">"AchievementsInactiveFG"</span>	<span class="s">"130 130 130 255"</span>
                    <span class="p">}</span>
                </code></pre></div></div>

                <p>Under the <code class="language-plaintext highlighter-rouge">BaseSettings</code> confg, find <code class="language-plaintext highlighter-rouge">Panel.BgColor</code> (around line 124)</p>

                <p>Change <code class="language-plaintext highlighter-rouge">"Blank"</code> to one of the color indexs in the <code class="language-plaintext highlighter-rouge">Colors</code> confg.</p>

                <p>Ex, <code class="language-plaintext highlighter-rouge">Panel.BgColor					"Blank"</code> to, <code class="language-plaintext highlighter-rouge">Panel.BgColor					"DullWhite"</code>.</p>

                <p>Save and Exit the file, and restart Hammer.</p>

                <blockquote>
                <p><strong>NOTE:</strong> This config <strong>might</strong> not save if you verify game files.</p>
                </blockquote>
            </section>
        </div>

        <footer>
            <div class="footerinner">
                <div class="footerlinespace">
                    <div class="footerline"></div>
                </div>

                <div class="footerfont">
                    <div class="footercol">
                        <p><strong>OUR WORK</strong></p>

                        <ul class="footerlist">
                            <li>
                                <a>What We Do</a>
                            </li>
                            <li>
                                <a>Our Projects</a>
                            </li>
                            <li>
                                <a>Our Team</a>
                            </li>
                            <li>
                                <a>Contribute</a>
                            </li>
                            <li>
                                <a>Get in Touch</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footercol">
                        <p><strong>RESOURCES</strong></p>

                        <ul class="footerlist">
                            <li>
                                <a>Github</a>
                            </li>
                            <li>
                                <a>Blog</a>
                            </li>
                            <li>
                                <a>Updates</a>
                            </li>
                            <li>
                                <a>Terms of Service</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footersocial">
                        <i id="themeswitch" class="fas fa-adjust"></i>
                    </div>

                    <div class="footerlinespace">
                        <div class="footerline"></div>
                    </div>

                    <div class="copyright-left">
                        <p>Made with ❤ by <a href="https://www.titusstudios.net">Titus Studios</a></p>
                    </div>

                    <div class="copyright">
                        <p>Copyright © 2020 Open Source Protogen Collection</p>
                        <div class="copyrightinfo">
                            <a href="">[INFO]</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://www.titusstudios.net/data/static/js/darkmode.js"></script>
    </body>
</html>
