<html>
    <head>
        <base href="https://protogencollection.titusstudios.net/">
        <!--<link rel="stylesheet" href="/assets/css/style.css">-->
	<script src="/data/static/js/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
        <meta name="google-site-verification" content="zyKVZBJaMLd2zAtclQ0NYa-sG0Kp_oCnpQk0iYMKvO8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% seo %} 
    </head>
    <body>
	<div class="theme-default">
        <div class="mainheader">
            <a href="https://www.titusstudios.net">
		    <div class="logo"></div>
            </a>
            <div class="headiconstray">
                <div class="icontraysidealign" align="right">
                    <div class="icontrayspacing1">
                        <div class="home">
                            <a href="https://www.titusstudios.net">
                                <div class="traytext">
                                    <p>Home</p>
                                </div>
                            </a>
                        </div>

                        <div class="projects">
                            <div class="icontraycolor">
                                <div class="traytext">
                                    <p>Projects</p>
                                </div>
                            </div>
				
			    <div class="fixhover">
                                <div class="prjdropdown">
                                    <a href="https://github.com/TitusStudiosMediaGroup/titusstudiosmediagroup.github.io">
                                        <div class="icontraycolor">
                                            <div class="traytext">
                                                <p>Website Codebase</p>
                                            </div>
                                        </div>
                                    </a>                                
                                </div>

                                <div class="prjdropdown">
                                    <a href="https://github.com/TitusStudiosMediaGroup/OpenControl">
                                        <div class="icontraycolor">
                                            <div class="traytext">
                                                <p>OpenControl</p>
                                            </div>
                                        </div>
                                    </a>                                
                                </div>

                                <div class="prjdropdown">
                                    <a href="https://github.com/titus-studios-media/PureAir">
                                        <div class="icontraycolor">
                                            <div class="traytext">
                                                <p>PureAir</p>
                                            </div>
                                        </div>
                                    </a>                                
                                </div>

                                <div class="prjdropdown">
                                    <a href="https://github.com/titus-studios-media/GSG-Universal-Gauge-by-Titus">
                                        <div class="icontraycolor">
                                            <div class="traytext">
                                                <p>GSG Universal Gauge</p>
                                            </div>
                                        </div>
                                    </a>                                
                                </div>

                                <div class="prjdropdown">
                                    <a href="https://github.com/TitusStudiosMediaGroup/brightstar">
                                        <div class="icontraycolor">
                                            <div class="traytext">
                                                <p>BrightStar</p>
                                            </div>
                                        </div>
                                    </a>                                
                                </div>
                    
                                <div class="prjdropdown">
                                    <a href="https://github.com/titus-studios-media/Monks-MU-Plug-V3-Titus-Edit-Rev4">
                                        <div class="icontraycolor">
                                            <div class="traytext">
                                                <p>Automatic MU Plug</p>
                                            </div>
                                        </div>
                                    </a>                                
                                </div>
                    
                                <div class="hide">
                                    <div class="prjdropdown">
                                        <div class="dropdowniconxcolor">
                                            <a href="">
                                                <div class="icontraycolor">
                                                        <div class="traytexticon">
                                                            <p>BrightStar</p>
                                                        </div>
                                                        <div class="dropdowniconx" title="Legacy Project"> 
                                                            <svg width="20" height="20" class="octicon-x" viewBox="0 0 12 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"></path></svg>
                                                                <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"></path>
                                                            </svg>
                                                        </div>  
                                                </div>
                                            </a>
                                        </div>                              
                                    </div>
				</div>
                            </div>
                        </div>

                        <div class="github">
			    <div class="icontraycolor">
			        <div class="traytext">
				    <p>GitHub</p>
			        </div>
			    </div>
			
			    <div class="fixhover">
                                <div class="prjdropdown">
                                    <a href="https://github.com/TitusStudiosMediaGroup">
                                        <div class="icontraycolor">
                                            <div class="traytext">
                                                <p>Profile</p>
                                            </div>
                                        </div>
                                    </a>                                
                                </div>

                                <div class="prjdropdown">
                                    <a href="https://github.com/titus-studios-media">
                                        <div class="icontraycolor">
                                            <div class="traytext">
                                                <p>Organization</p>
                                            </div>
                                        </div>
                                    </a>                                
                                </div>
                            </div>
			</div>

                        <div class="contact">
                            <a href="https://www.titusstudios.net/contact">
                                <div class="icontraycolor">
                                    <div class="traytext">
                                        <p>Contact</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>

	<div class="container">
		<section id="main_content">  
			{{ content }}
		</section>
	</div>

	<div class="theme-default">
        <footer>
            <div class="footerinner">
                <div class="footerlinespace">
                    <div class="footerline"></div>
                </div>

                <div class="footerfont">
                    <p>Copyright © 2020 Titus Studios Media</p>
                </div>

                <div class="footerfontsub">
                    <div class="footersubtext">
                        <p></p>
                    </div>
                </div>
		    
		<div class="footersocial">
		    <a href="https://twitter.com/TitusStudiosMG">
		        <i class="fab fa-twitter"></i>
		    </a>
		    <a href="https://t.me/titusstudios">
		        <i class="fab fa-telegram-plane"></i>
		    </a>
		    <a href="https://steamcommunity.com/id/TitusStudiosMediaGroup">
		        <i class="fab fa-steam"></i>
		    </a>
		    <a href="https://www.youtube.com/c/TitusStudios">
		        <i class="fab fa-youtube"></i>
		    </a>
		    <a href="https://github.com/TitusStudiosMediaGroup">
		        <i class="fab fa-github"></i>
		    </a>
		</div>
            </div>
        </footer>
        </div>
	
	<div class="theme-voodoo">
	<svg class="footerwave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#2d2532" fill-opacity="0.5" d="M0,128L60,154.7C120,181,240,235,360,250.7C480,267,600,245,720,245.3C840,245,960,267,1080,272C1200,277,1320,267,1380,261.3L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
        </svg>

        <footer>
            <div class="footerinner">
                <div class="footerlinespace">
                    <div class="footerline"></div>
                </div>


                <div class="footerfont">
                    <div class="footercol">
                        <p><strong>COMMISSIONS</strong></p>

                        <ul class="footerlist">
                            <li>
                                <a>Pricing</a>
                            </li>
                            <li>
                                <a>Gallery</a>
                            </li>
                            <li>
                                <a>List</a>
                            </li>
                            <li>
                                <a>Slots</a>
                            </li>
                            <li>
                                <a>Work in Progress</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footercol">
                        <p><strong>RESOURCES</strong></p>

                        <ul class="footerlist">
                            <li>
                                <a>Blog</a>
                            </li>
                            <li>
                                <a>Updates</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footersocial">
                        <a href="https://twitter.com/fadestorm675">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCPOaLk8yZuKIsSxFrV5f8yg">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>

                    <div class="footerlinespace">
                        <div class="footerline"></div>
                    </div>

                    <div class="copyright">
                        <p>Copyright © 2020 Titus Studios Media</p>
                        <div class="copyrightinfo">
                            <a href="">[INFO]</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>	
	</div>
</body>

<script src="/data/static/js/stylesheet-selector.js"></script>
</html>
