<html>
    {% include head.html %}
    <body>
        {% include nav.html %}
        
        <div class="homepage-container">
            <div class="homepage-title">
                <p>Open Source Protogen Collection</p>
            </div>

            <div class="homepage-quickstart">
                <p>Looking for somthing? We can get you jump started here!</p>
                <i class="fas fa-arrow-down"></i>
                <br>
                <button onclick="">Get Started</button>
            </div>

            <div id="slideshow">
                <div class="homepage-slideshow">
                    <div class="homepage-slideshow-header">
                        <p>For Fursuit Makers</p>
                    </div>
                    <div class="homepage-slideshow-desc">
                        <p>Learn how to implement and program electronics into your suits, and possibly pick up some tips on the way.</p>
                    </div>
                </div>
                <div class="homepage-slideshow">
                    <div class="homepage-slideshow-header">
                        <p>For Creators</p>
                    </div>
                    <div class="homepage-slideshow-desc">
                        <p>We want to inspire individuals to create their own Protogen Fursuit, from Sanding and Painting, to Wiring and Programming.. we have all the resources necessary for you to build your own suit.</p>
                    </div>
                </div>
                <div class="homepage-slideshow">
                    <div class="homepage-slideshow-header">
                        <p>Want to make a Protogen Fursona?</p>
                    </div>
                    <div class="homepage-slideshow-desc">
                        <p>We have the resources right in one place for you to make your own Protogen Fursona.</p>
                    </div>
                </div>
            </div>

            <div class="homepage-browse">
                <div class="homepage-browse-header">
                    <p>Cant find it above? Browse Manually!</p>
                </div>
                <div class="homepage-browse-desc">
                    <p>Apparently the robots around back couldn't find what you were looking for, that's Ok. You can search on your own traveler.</p>
                </div>
            </div>
        </div>

        <div class="container">
            <section id="main_content">
                {{ content }}
            </section>
        </div>

        {% include footer.html %}
        
        <script src="https://protogencollection.titusstudios.net/data/static/js/darkmode.js"></script>
        <script src="https://protogencollection.titusstudios.net/data/static/js/blockquote-bkgselector.js"></script>
        <script>
            function backToTop() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
    
            function mobilenav() {
                var navmenu = document.getElementById("navmobilemenu");
    
                if (navmenu.style.display == "block") {
                    navmenu.style.display = "none";
                } else {
                    navmenu.style.display = "block";
                }
            }

            $("#slideshow > div:gt(0)").hide();
            setInterval(function() { 
            $('#slideshow > div:first')
                .fadeOut(1000)
                .next()
                .fadeIn(1000)
                .end()
                .appendTo('#slideshow');
            }, 10000);    
        </script>
    </body>
</html>
