<html>
    <head>
        {% seo %}
    </head>
    <body>
        {{ content }}

        ALL POSTS LIST

        <ul>
        {% for post in site.posts %}
            <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
        </ul>

        TAG LIST

        {% for tag in site.tags %}
        <h3>{{ tag[0] }}</h3>
        <ul>
            {% for post in tag[1] %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
        
        SITE LIST
        
        <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
              {{ post.excerpt }}
            </li>
          {% endfor %}
        </ul>
    </body>
</html>
